html,
body,
#x-form,
#x-iframe,
#x-input,
#x-datalist,
#x-app {
  box-sizing: border-box;
}

#x-input {
  flex: 1;
  margin: 1em;
}

#x-label {
  font-weight: bold;
}

#x-input:focus {
}

#x-form {
  display: flex;
  align-items: baseline;
  background: white;
  margin: 0;
}

#x-app {
  background: white;
  position: fixed;
  padding: 0.5em;
  bottom: 0;
  top: 0;
  right: 0;
  width: 800px;
  display: grid;
  grid-template-rows: min-content auto 10px;
}

#x-app[hidden] {
  display: none;
}

#x-iframe {
  justify-self: stretch;
  align-self: stretch;
}

#x-credit:link {
  text-decoration: none;
  font-size: 13px;
}
