html,
body,
#x-form,
#x-iframe,
#x-input,
#x-datalist,
#x-app {
  box-sizing: border-box;
}

#x-input {
  flex: 1;
  margin: 0.25em;
}

#x-label {
  font-weight: bold;
}

#x-form {
  display: flex;
  align-items: baseline;
  margin: 0;
  gap: 1em;
}


#x-app {
  border-left: 2px outset;
  background: white;
  position: fixed;
  padding: 0.5em;
  bottom: 0;
  top: 0;
  right: 0;
  width: 800px;
  display: grid;
  gap: 0.5em;
  grid-template-rows: min-content auto min-content;
}

#x-app[hidden] {
  display: none;
}

#x-selected {
  font-size: 13px;
  color: gray;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 500px;
}

#x-iframe {
  justify-self: stretch;
  align-self: stretch;
}

#x-footer a:link {
  text-decoration: none;
  font-size: 13px;
}

#x-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 0.5em;
}

#x-footer span {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

.x-tuning {
  min-width: 7ch;
  width: min-content;
  field-sizing: content;
  font-family: monospace;
  font-size: 13px;
  letter-spacing: 0.05em;
  margin-right: 0.5em;
  border: lightgray;
  color: gray;
}

.x-tuning:hover {
  outline: 1px solid lightgray;
}

.x-tunings-mode-off .x-tuning {
  display: none;
}

#x-tunings-button {
  font-size: 12px;
}

#x-tunings-button::before {
  content: '◧';
  margin-right: 0.25em;
  font-size: 15px;
  line-height: 1;
}

.x-tunings-mode-off #x-tunings-button::before {
  content: '□';
  margin-right: 0.25em;
  font-size: 15px;
  line-height: 1;
}

#x-labels-button::before {
  content: '□';
  margin-right: 0.25em;
  font-size: 15px;
  line-height: 1;
}

.x-labels-mode-on #x-labels-button::before {
  content: '■';
  margin-right: 0.25em;
  font-size: 15px;
  line-height: 1;
}

.x-labels-mode-on .x-label.red {
  background-color: #ffcccc;
}

.x-labels-mode-on .x-label.green {
  background-color: #ccffcc;
}

.x-labels-mode-on .x-label.blue {
  background-color: #ccccff;
}

.x-labels-mode-on .x-label.yellow {
  background-color: #ffffcc;
}

.x-labels-mode-on .x-label.purple {
  background-color: #ffccff;
}